
EXPO_PUBLIC_TWITCH_CLIENT_ID=
EXPO_PUBLIC_PLAYER_URL=http://localhost:3000
EXPO_PUBLIC_TWITCH_PLAYER_WEBSITE_URL=
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_SENTRY_RELEASE=
EXPO_PUBLIC_SENTRY_DIST=
TWITCH_CLIENT_SECRET=

# auth proxy config
EXPO_PUBLIC_AUTH_PROXY_API_BASE_URL=http://localhost:6500/api
EXPO_PUBLIC_AUTH_PROXY_API_KEY=your-api-key


# why did you render (bool)
EXPO_PUBLIC_ENABLE_WDYR=

# enable rozenite devtools
EXPO_PUBLIC_WITH_ROZENITE=true
