
EXPO_PUBLIC_TWITCH_CLIENT_ID=
# used in place of EXPO_PUBLIC_TWITCH_CLIENT_ID when EXPO_PUBLIC_APP_VARIANT=production
EXPO_PUBLIC_TWITCH_PROD_CLIENT_ID=

EXPO_PUBLIC_ENABLE_SENTRY=''
EXPO_PUBLIC_SENTRY_DSN=''
EXPO_PUBLIC_SENTRY_RELEASE=
EXPO_PUBLIC_SENTRY_DIST=

EXPO_PUBLIC_STATSIG_CLIENT_KEY=
TWITCH_CLIENT_SECRET=

# auth proxy config
EXPO_PUBLIC_AUTH_PROXY_API_BASE_URL=http://localhost:6500/api
EXPO_PUBLIC_AUTH_PROXY_API_KEY=your-api-key


# why did you render (bool)
EXPO_PUBLIC_ENABLE_WDYR=

# enable rozenite devtools
EXPO_PUBLIC_WITH_ROZENITE=true

# aws s3 secrets for reading/writing the `@expo/fingerprint` cache (not required for local dev)
FOAM_AWS_FINGERPRINT_ACCESS_KEY_ID=''
FOAM_AWS_FINGERPRINT_SECRET_KEY=''
FOAM_AWS_FINGERPRINT_BUCKET_NAME=''

# used for creating github releases and changelog entries
GITHUB_RELEASE_TOKEN=''

