# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
action-build
# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

!.env.example
ios
android
!modules/activity-controller/ios
!modules/activity-controller/android
modules/activity-controller/android/build

# Turborepo
.turbo


# macOS
.DS_Store

# Xcode
*.pbxuser
!default.pbxuser
*.xccheckout
*.xcscmblueprint
xcuserdata

# Android Studio
*.iml
.gradle
.idea/libraries
.idea/workspace.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

# VSCode
.history/
.turbo

# test
coverage

# Bun
bun.lockb

# google services android
google-services-*.json

# # google services IOS
GoogleService-*-*.plist

.env.local

# app builds
*.abd
*.apk

# Google Service Account JSON key
FOAM_ANDROID_TESTFLIGHT_KEY.json

.vscode

.env

profile-*.json

*.plist