engine-strict=true

# feature parity with npm
auto-install-peers=true
# hoist-pattern[]=!expo/*
# hoist-pattern[]=!react-native/*
# hoist-pattern[]=!@react-native-community/*
# hoist-pattern[]=!@babel/*
