engine-strict=true
strict-peer-dependencies=true
auto-install-peers=true
node-linker=hoisted

hoist-pattern[]=!expo/*
hoist-pattern[]=!react-native/*
hoist-pattern[]=!@react-native-community/*
hoist-pattern[]=!@babel/*
