engine-strict=true
node-linker=hoisted
strict-peer-dependencies=true
auto-install-peers=true


hoist-pattern[]=!expo/*
hoist-pattern[]=!react-native/*
hoist-pattern[]=!@react-native-community/*
hoist-pattern[]=!@babel/*
